$edge: 15px;

.triangle {
  width: $edge;
  height: $edge;
  background-color: transparent;

  border-left: calc($edge / 2) solid transparent;
  border-right: calc($edge / 2) solid transparent;
  border-bottom: $edge solid green;
}